.DS_Store
.AppleDouble
.LSOverride
.Icon?
._*
.Spotlight-V100/
.Trashes
.DocumentRevisions-V100/
.fseventsd/
.hotfiles.btree
.SymAV/
.VolumeIcon.icns
.AppleDB/
.AppleDesktop/
.Network Trash Folder/
.VolumeIcon.icns
/com.apple.timemachine.donotpresent
.idea/
*.swp
*.swo
*.plist
*.pyc
pycache/
.mypy_cache/
.pytest_cache/
dist/
build/
.venv/
.egg-info
